/* Purple:  #d422ff */
/* Red: #fc3284 */
/* Yellow: #f9be2d */


.wy-side-nav-search {
    background-color: #000;
}

.wy-nav-side {
    background-color: #fc3284;
}


.wy-menu-vertical p.caption {
    color: #f9be2d;
}

a {
    color: #fc3284;
}

a:active, a:hover, a:visited {
    color: #a80043;
}


.wy-menu-vertical a:hover {
  background-color: #000;
  color: #f9be2d;
}

.wy-menu-vertical a {
    color: #fcfcfc;
}

.rst-content code.literal, .rst-content tt.literal {
    color: #d09a0b;
}

/* .highlight {
  background: #ffab4a;
} */
.highlight .go{
    color: #d422ff;
}

.wy-side-nav-search .wy-dropdown > a, .wy-side-nav-search > a {
    color: #fcfcfc;
}

.wy-nav-top {
    background-color: #d422ff;
}


.wy-nav-top a {
    color: #fcfcfc;
}


